{% extends 'base.html.twig' %}

{% block title %}Acces
{% endblock %}

{% block body %}
	<h1>Acces</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ acce.id }}</td>
			</tr>
			<tr>
				<th>Nom d'accès</th>
				<td>{{ acce.nomAcces }}</td>
			</tr>
			<tr>
				<th>Date_installation</th>
				<td>{{ acce.dateInstallation ? acce.dateInstallation|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_acces_index') }}">back to list</a>

	<a href="{{ path('app_acces_edit', {'id': acce.id}) }}">edit</a>

	{{ include('acces/_delete_form.html.twig') }}
{% endblock %}
